* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-weight: 900;
  font-size: 3.5em;
  z-index: 2;
  color: rgb(0, 175, 175);
  text-align: center;
}

.text .letter {
  display: inline-block;
  opacity: 0;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

button {
  align-items: center;
  background-image: linear-gradient(144deg, #5f9ea0, #78866b 50%, #a9a9a9);
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 20px;
  border: none;
}

button:active,
button:hover {
  outline: 0;
}

button span {
  background-color: #5f9ea0;
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(0.9);
}

/* კონტეინერი თავიდან უჩინარია */
.choices-container {
  opacity: 0;
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: left; /* ან center */
  pointer-events: none; /* სანამ არ გამოჩნდება, ხელი არ ეჭიროს */
}

/* ღილაკების საერთო სტილი */
.choice-btn {
  padding: 15px 25px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition:
    transform 0.2s,
    opacity 0.3s;
  color: white;
}

/* GOA ღილაკი (მწვანე) */
.goa {
  background-color: #28a745;
  box-shadow: 0 4px 15px rgba(40, 167, 69, 0.4);
}

/* Roblox ღილაკი (წითელი/ნარინჯისფერი) */
.roblox {
  background-color: #dc3545;
  box-shadow: 0 4px 15px rgba(220, 53, 69, 0.4);
}

.choice-btn:hover {
  transform: scale(1.05);
}
